<html>
<head>
<meta charset="utf-8">
<meta name="robots" content="noindex">
[% IF me.prev_slide %]<link href='[% me.prev_slide %]#fokus' rel='prev' />[%END %]
[% IF me.next_slide %]<link href='[% me.next_slide %]#fokus' rel='next' />[%END %]
</div>

<style type="text/css">
body	{ background-color:#ffffff; 	font-family: verdana,arial, helvetica, geneva, sans-serif;}
h1	{ text-align:center; }
pre	{ background-color:#eeeeee; border:1px; /*font-weight:bold;*/
	  border-style:solid; padding:10px; font-size: 1.2em;
	}
pre.term	{ background-color:#000000; color:#ffffff; border:1px; /*font-weight:bold;*/
	  border-style:solid; padding:10px;
	}
p	{ margin-bottom:1.5em;   }
code    { font-weight:bold; }
div.content	{ position:absolute; top:25px; left:25px; width:95% }
div.topbar	{ position:fixed; top:0px; left:0px; width:100%; z-index:9;
		  text-align:center; background-color:#cccccc;
                  border-bottom:1px solid black; text-size:small;
		}
div.breadcrumb  { text-size:small; }
div.topbar a:link, a:visited, a:hover,
div.breadcrumb a:link, a:visited, a:hover
         { text-decoration:none; color:#0000ff; }
</style>

<script language="JavaScript">
function taste(hitit)
{
 var key=hitit.which;
 if (key == 13 || key == 34) {
     self.location="[% me.next_slide %]#fokus";
}
 if (key == 8 || key == 33) {
	self.location="[% me.prev_slide %]#fokus";
 }
 
}
document.onkeydown = taste;

</script>

<title>[% me.title %]</title>

</head>
<body> 
<div class='topbar' id='topbar'>
[% IF me.prev_slide %]<a href='[% me.prev_slide %]#fokus'  rel='prev'>prev &lt;&lt;</a> [%END %]
<b><a href="index.html">[% me.title %]</a></b>
[%+ IF me.next_slide %]<a href='[% me.next_slide %]#fokus' rel='next'>&gt;&gt; next</a> [%END %]
</div>
<div class='content'>

[% me.current_heading %]

[% me.oldtext %]
[% me.thistext %]
[% IF set_focus %]<a name='fokus'></a>[% END %]

</div>

</body>
</html>
